<app-navbar></app-navbar>

<div class="container">
<h2>Over deze applicatie</h2>
<p>Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool Breda.</p>

<h2>Gym Life</h2>
<p>Ik wil een applicatie maken voor sporten, waarin je sportschema's hebt die je kunt gebruiken en kunt zien waar je bent in je sportweek zodat je je progressie bijhoudt. 
    Deze schema geeft aan wanneer je welke spiergroep moet trainen, in welke intensiviteit, wanneer je rust moet nemen en je kunt in de schema zelf bijhouden hoeveel gewicht je gebruikt 
    zodat je bij de volgende keer weet waar je gebleven was en dezelfde hoeveelheid gewicht (of iets meer) kunt gebruiken. 
    Naast dat je schema's hebt die je al meteen kan gebruiken, kan je ze ook zelf maken. 
    Bij het maken van een schema krijg je ook tips te zien die je eventueel kunt implenteren.
    Als laatste zou ik ook extra dingetjes voor de lol willen implementeren, zoals een plank highscore page waarin je je plank highscore kunt posten met video materiaal als bewijs.</p>
</div>
<app-use-case-list></app-use-case-list>