<div class="jumbotron">
    <h1 class="display-4">Welkom op mijn page</h1>
    <p class="lead">Op deze page zul je een sportschema kunnen kiezen die bij jou past!</p>
    <hr class="my-4">
    <p><b>Voor meer info check de about page.</b></p>
    <p class="lead">
      <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
    </p>
  </div>