<div class="container">
    <h2>Entiteiten</h2>
    <div class="row">
        <div class="col-sm-4">
            <h5>Entiteit: Gebruiker</h5>
            <ul class="ulx">
                <li>naam: string</li>
                <li>wachtwoord: string</li>
                <li>id: number</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h5>Entiteit: Schema</h5>
            <ul class="ulx">
                <li>naam: string</li>
                <li>id: number</li>
                <li>omschrijving: string</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h5>Entiteit Oefening</h5>
            <ul class="ulx">
                <li>naam: string</li>
                <li>id: number</li>
                <li>spiergroep: string</li>
                <li>intensiteit: number</li>
            </ul>
        </div>
    </div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Naam</th>
                <th scope="col">Use case inloggen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Beschrijving</th>
                <td>Hiermee logt een bestaande gebruiker in
                </td>
            </tr>
            <tr>
                <th scope="row">Actor</th>
                <td>Reguliere gebruiker
                </td>
            </tr>
            <tr>
                <th scope="row">Preconditie</th>
                <td>Gebruiker moet geregistreerd zijn
                </td>
            </tr>
            <tr>
                <th scope="row">Scenario</th>
                <td>
                    <ol>
                        <li>Gebruiker vult email en password in en klikt op Login knop.
                        </li>
                        <li>De applicatie valideert de ingevoerde gegevens.</li>
                        <li>Indien gegevens correct zijn dan redirect de applicatie naar het startscherm.
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">Postconditie</th>
                <td>De actor is ingelogd
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Naam</th>
                <th scope="col">Use case schema selecteren</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Beschrijving</th>
                <td>Hiermee selecteert een bestaande gebruiker een schema
                </td>
            </tr>
            <tr>
                <th scope="row">Actor</th>
                <td>Reguliere gebruiker
                </td>
            </tr>
            <tr>
                <th scope="row">Preconditie</th>
                <td>Gebruiker moet geregistreerd zijn
                </td>
            </tr>
            <tr>
                <th scope="row">Scenario</th>
                <td>
                    <ol>
                        <li>Gebruiker selecteert "Schedule" pagina.
                        </li>
                        <li>Gebruiker selecteert item uit lijst van schema's.</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <th scope="row">Postconditie</th>
                <td>De actor heeft een schema opgeslagen in zijn account
                </td>
            </tr>
        </tbody>
    </table>
</div>